h1 {
    font-size: 2em;
}
#me {
    margin: 20px,20px,50px,50px;
}
#hello {
    margin: 60px;
    font-size: 3em;
    background-color: blue;
    color:white;
    text-align: center;
}
section {
    margin: 50px;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 20px;
}
#lines {
    color: orange;
}
img {
    width: 350px;
    padding: 15px;
    float:right;
}
#linep {
    color: purple;
}
.clear {
    clear:both;
}