body {
    display: grid;
    background-color: #F1F1F1;
    grid-template-columns: 150px 400px 150px;
}
#main {
    grid-column: 2;
    display: grid;
    justify-items: center;
    box-shadow: -1px 2px 10px #878787;
    border-radius: 30px;
    background-color: white;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 10px;
    width: 370px;
    height: 50px;
}
#hl {
    grid-column: 1;
    margin-top: 10px;
    color: #113162;
}

#logo{
    z-index: -1;
}
#pass {
    margin: -5px 0px 0px 10px;
}
#name{
    grid-column: 2;
    justify-self: right;
    margin-top: 20px;
    color: #113162;
}
.cities{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background-color: #011B36;
    width: 400px;
    height: 100px;
    color: white;
}
.boston p{
    margin: 0;
}
.denver{
    justify-items: center;
}
.denver p{
    margin: 0;
}
.flight_info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    font-size: 8px;
}
.thanks {
  text-align: center;  
}

.flight_info div{
    justify-items: center;
    margin: 16px;
}

.thanks
{
font-size: 15px;
}
p{
font-size: 15px;   
}