@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Orbitron&display=swap');

/* Home */
body {
    background-color: #fad994;
}
header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: -8px;
    font-family: 'Orbitron', sans-serif;
}
nav {
    grid-column: 1;
    grid-row: 1/3;
}
#logo {
    grid-row: 2;
    margin-left: 10%;
}
nav img {
    width: 80%;
}
ul {
    all: unset;
}
.navlist {
    grid-row: 3;
    text-align: center;
    display: grid;
    grid-row-gap: 50px;
}
.navlist a {
    color: #fe540d;
    font-size: 40px;
    font-weight: bolder;
    text-decoration: none;
    margin-inline: 40px;
    padding: 10px;
    transition: 0.3s;
}
.navlist a:hover {
    color: #302f4e;
}
#hero {
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: -1;
}
#hero img {
    width: 100%;
}
main {
    text-align: center;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 100px;
}
#home {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
}
#seeimg {
    align-self: center;
}
#seeimg img{
    max-width: 80%
}
h1 {
    font-size: 45px;
    font-family: 'Orbitron', sans-serif;
}
p {
    font-size: 30px;
    font-family: "Mulish", sans-serif;
    font-weight: 100;
}
.help {
    grid-column: 1/-1;
}
footer {
    background-color: #ee8968;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: -8px;
}
footer h2 {
    color: black;
}
footer a {
    color: black;
    text-decoration: none;
    transition: 0.3s;
}
footer a:hover {
    color: #302f4e;
    font-weight: bold;
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

/* portfolio.html */
.head {
    grid-row: 1/3;
    align-self: end;
    text-align: center;
    margin-right: 20px;
    margin-bottom: -30px;
}
button {
    background: none;
    border: none;
    cursor: pointer;
    color: #fe540d;
    font-size: 35px;
    font-weight: bolder;
    text-decoration: none;
    margin-inline: 40px;
    padding: 10px;
    transition: 0.3s;
    font-family: "Mulish", sans-serif;
}
button:hover {
    color: #302f4e;
}
button.active {
    color: #302f4e;
}
.port {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.port img {
    width: 100%;
    height: 100%;
}
.cats {
    grid-row: 1/3;
    align-self: start;
}
.descr {
    grid-column: 2;
    align-self: end;
    text-align: center;
}
.tabcontent {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
#wv {
    display: none;
}
#ny {
    display: none;
}
#ut {
    display: none;
}
#be {
    display: none;
}
#misc {
    display: none;
}

#wvd {
    display: none;
}
#nyd {
    display: none;
}
#utd {
    display: none;
}
#bed {
    display: none;
}
#miscd {
    display: none;
}
/* aboutme.html */
#who {
    margin-bottom: 40px;
}
.why {
    grid-column: 1/3;
    margin: 0 100px;
}
.ab {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 15px;
}
.ab h2 {
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
}
.ab img {
    width: 80%;
}